@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Roboto&display=swap");

:root {
  --primaryColor: white;
  --textColor: #88ca97;
  --border-radius: 0.3rem;
}

* {
  padding: 0;
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

header h1 {
  background-color: var(--primaryColor);
  color: var(--textColor);
  padding-top: 0.4em;
  font-size: 4em;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
}

.search-bar {
  width: 20em;
  margin: 5em;
}

.input-group-text {
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
  color: var(--textColor);
  background-color: white;
}

.form-control {
  border-radius: 2em;
  border-right: none;
  text-align: center;
  padding-left: 3em;
}
