@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primaryColor: white;
  --textColor: #88ca97;
  --border-radius: 0.3rem;
}

* {
  padding: 0;
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

header h1 {
  background-color: var(--primaryColor);
  color: var(--textColor);
  padding-top: 0.4em;
  font-size: 4em;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 900;
}
header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
}

a {
  text-decoration: none;
}

.card-header {
  height: 50px;
  background-color: white;
  border: none;
}

.card-body {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 1em;
}

.card {
  border: none;
}

.risk-card-margin {
  margin-top: 3em;
}

.pop-card-margin {
  margin-top: 6em;
}

.hos-card-margin {
  margin-top: 10px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-bar {
  margin: 0 auto;
  width: 20em;
  padding-bottom: 10px;
}

.input-group-text {
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
  color: var(--textColor);
  background-color: white;
}

.form-control {
  border-radius: 2em;
  border-right: none;
  text-align: center;
  padding-left: 3em;
}

.top-row {
  flex-wrap: wrap;
}

.risk-level {
  display: flex;
  justify-content: center;
  margin: 2.5em 0 2em 2em;
}

.vaccine-rate {
  text-align: center;
  margin: 2em 3em 0.5em 0;
}

.risk-level-result {
  padding-left: 1em;
}

.risk-title {
  color: #a1a1a1;
  padding-bottom: 5px;
}

.risk-key {
  width: 14px;
  height: 14px;
}

.risk-result {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
}

.low {
  background-color: rgb(146, 199, 0);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.medium {
  background-color: rgb(235, 211, 0);
}

.high {
  background-color: rgb(255, 136, 0);
}

.critical {
  background-color: rgb(255, 0, 0);
}

.severe {
  background-color: rgb(117, 0, 0);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.vaccine-1d,
.vaccine-2d {
  font-size: 10px;
  padding-left: 25px;
  color: #a1a1a1;
}

.vaccine-2d {
  padding-left: 35px;
}

.progress-bars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.daily-new-cases,
.infection-rates,
.positive-test-rates {
  display: block;
  text-align: center;
  padding-left: 3em;
}

.small {
  font-size: 12px;
  font-weight: bold;
}

.bold {
  font-weight: 900;
}

@media screen and (max-width: 991px) {
  .pop-card-margin {
    margin-top: 1em;
  }
}

@media screen and (max-width: 686px) {
  .other-results {
    margin-top: 1em;
  }

  .daily-new-cases,
  .infection-rates,
  .positive-test-rates {
    padding-left: 0;
  }

  .covid-city-title {
    text-align: center;
  }

}

@media screen and (max-width: 536px) {
  .vaccine-rate {
    margin: 0;
  }
}
